<h1>Plant Show Page</h1>

<button class="button button-margin title"> < Back to Plants </button>

<div class="search-bar"><input class="search-input" ng-model="$ctrl.searchPlant" placeholder="search for any food nutrition facts!">
	<button class="search-button" ui-sref='plantShow({id: ($ctrl.searchPlant | lowercase) })'> Search!</button>
</div>

<div class="plant-show-page">
	<div class="nutrition-fact" ng-repeat="fact in $ctrl.facts">
	<div class="nutri-contnet nutrition-fact-title"> Nutrition Fact </div>
	<div class="secondary-font nutri-content"><p>{{fact.fields.item_name}}</p></div>
	<div style="margin-bottom:3px; margin-top:0px; text-align:center; width:98%; height:10px; background-color:#47440F"></div>
	<p class="secondary-font nutri-content"><strong>Amount Per Serving</strong></p>
	<div style="margin-bottom:3px; margin-top:-5px; text-align:center; width:98%; height:2px; background-color:#47440F"></div>
	<div class="secondary-font nutri-content"><p>Brand Name : {{fact.fields.brand_name}}</p></div><hr>
	<div class="secondary-font nutri-content"><p>Calories : {{fact.fields.nf_calories}}</p></div><hr>
	<div class="secondary-font nutri-content"><p>Total Fat : {{fact.fields.nf_total_fat}}</p></div><hr>
	</div>
</div>
<!-- 
{
  "total_hits": 20277,
  "max_score": 10.676512,
  "hits": [
    {
      "_id": "513fceb375b8dbbc21000022",
      "fields": {
        "item_name": "Cheddar Cheese - 1 cup, diced",
        "brand_name": "USDA",
        "nf_calories": 531.96,
        "nf_total_fat": 43.74
      }
    },
    {
      "_id": "513fceb375b8dbbc2100001d",
      "fields": {
        "item_name": "Cheddar Cheese - 1 slice (1 oz)",
        "brand_name": "USDA",
        "nf_calories": 112.84,
        "nf_total_fat": 9.28
      }
    }
  ]
} -->