<div class="post-show-page">

    <div class="post-show-wrap">
        <div class="title">{{$ctrl.post.title}}</div>
        <div class="small">
            <span class="glyphicon glyphicon-user"></span> 
            Posted By - <a ui-sref="userShow({id: $ctrl.post.user_id})">{{ $ctrl.user.name }}</a><br>
            <span class="glyphicon glyphicon-time"></span> 
            Posted on {{ $ctrl.post.created_at | date:"MM/dd/yy @ h:mma"}}
        </div>
        <div class="text-align-center"><div class="separation-hr"></div></div>

        <div class="post-image-wrap">
            <img class="post-img img-responsive" src="{{$ctrl.post.img_url}}" alt="">
            <p>{{$ctrl.post.description}}</p>
        </div>

        <div class="comment-wrap">
            <h3> Comments: </h3>
            <div class="comment-input-wrap">
                <input class="comment-input" ng-model="$ctrl.newComment.content" placeholder="Leave a comment here">
                <button class="button" ng-click="$ctrl.createComment()"> Leave a comment! </button>
                <p ng-bind="$ctrl.newComment.content"></p>
            </div>

            <div ng-repeat="comment in $ctrl.comments">
                <div class="comment-box">
                    <img src="{{$ctrl.userArray[$index].img_url}}" name="aboutme" class="img-circle img-sm" border="0">
                    <a ui-sref="userShow({id: $ctrl.userArray[$index].id})">{{ $ctrl.userArray[$index].name }}</a>
                    <span class="comment-time">@ {{ comment.created_at | date:'medium'}}</span><a class="delete" ng-if=" comment.user_id == $ctrl.currentUserId" ng-click="$ctrl.deleteComment(comment)">Delete</a>
                    <p>
                        <span class="comment-content"> {{ comment.content }} </span>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>