/* --- LIGHT GREEN ----------*/

$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

.text-align-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.separation-hr {
  display: flex;
  height: 2px;
  width: 85%;
  max-width: 850px;
  background-color: $color-lightgreen;
  text-align: center;
  margin: 10px;
}

.search-and-filter {
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-by-wra {
  display: flex;
}
.nav-separation {
  margin-right: 10px;
  margin-left: 10px;
}

.search-bar {
  display: flex;
}

.all-buttons {
	border-radius: 3px;
	background-color: white;
	border-color: $color-lightgreen;
}

div.gallery {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 220px;
  height: 250px;
  padding: 2px;
}

/* --- DARK GREEN ----------*/
div.gallery:hover {
  border: 2px solid $color-green;
}

div.gallery img {
  max-width: 200px;
  width: auto;
  height: 70%;
  display: block;
  margin: 0 auto;
}

p.desc {
  padding: 0px;
  margin: 0px;
}

.edit {
  float: right;
}

.title {
	font-family: 'Galindo', cursive;
	font-size: 15px;
}

.posts-index-page {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5%;
  min-height: 600px;
}

.posts-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 800px;
  min-width: 400px;
  justify-content: center;
}

.twitter-wrap {
  display: flex;
}

.content {
  padding: 5px;
}
