/* --- LIGHT GREEN ----------*/

$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

.all-buttons {
	border-radius: 3px;
	background-color: white;
	border-color: $color-lightgreen;
}

div.gallery {
    margin: 3px;
    border: 2px solid black;
    float: left;
    width: 180px;
}

/* --- DARK GREEN ----------*/
div.gallery:hover {
    border: 2px solid $color-green; 
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 0px;
    text-align: center;
}

.title {
	font-family: 'Galindo', cursive;
	font-size: 20px;
}