<div class="posts-index-page">
	<div class="posts-wrap">

		<ul ng-repeat="post in $ctrl.posts">
			<div class="gallery">

				<a ui-sref="postShow({ userId: {{post.user_id}}, id: {{post.id}} })">
				   <img src="{{post.img_url}}" alt="Picture">
				</a>
				
				<div class="content">
					<p class="desc title"> {{ post.title }}</p>
					<p class="desc">- {{ post.description }} -</p>
				</div>
				
				<span ng-if ="$ctrl.currentUser.id == post.user_id" class=" edit desc"><a ui-sref="postEdit({userId: {{post.user_id}}, id: {{post.id}} })">Edit</a> | <a ng-click="deletePost()">Delete</a>
				</span>
			</div>

	</div>

</div>