/* --- LIGHT GREEN ----------*/

$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

.all-buttons {
	border-radius: 3px;
	background-color: white;
	border-color: $color-lightgreen;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 250px;
    padding: 2px;
}

/* --- DARK GREEN ----------*/
div.gallery:hover {
    border: 2px solid $color-green; 
}

div.gallery img {
    max-width: 200px;
    width: auto;
    height: 70%;
    display: block;
    margin: 0 auto;
}

p.desc {
    padding: 0px;
    margin: 0px;
}

.edit {
    float:right;
}

.title {
	font-family: 'Galindo', cursive;
	font-size: 20px;
}

.posts-index-page {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.posts-wrap {
    display: flex;
    align-items: flex-start;
    min-width: 500px;
    max-width: 100%;
}

.twitter-wrap {
    float: right;
    margin-right: 5%;
	font-size: 17px;
}

.content {
    padding:5px
}