<h1> My Garden </h1>

<div class="garden-index">
<!-- User's garden lives here -->
	<p class="page-title">  {{ $ctrl.garden.name }} </p>
	<button class="button"> < edit</button>
	<button class="button" ui-sref="plants">Add plants now!</button>
		<br>
		<div class="garden-index-top-content">
			<h4> Garden Owner | <a ui-sref="userShow({id:$ctrl.garden.user_id})">{{ $ctrl.garden.user.name }} </a></h4>
		</div>
	
	<div class="garden">
		<div ng-repeat="gardenPlant in $ctrl.gardenPlants" ng-class="[{small:$ctrl.small, medium:$ctrl.medium, large:$ctrl.large}]"><p>{{gardenPlant.id}}</p></div>
		<!-- <p> {{ $ctrl.gardenPlants }} </p> -->
	</div>

<p> display what will need water </p>

</div>