<div class="flex-center-wrap">
	<span class="primary-font text-center">My garden <span style="color:#AAAD2A">{{ $ctrl.garden.name }}</span>
	</span>
</div>
<!-- GARDEN INFO -->
<center>
<div class="garden-index-top-content">
	<h4> Garden Owner | <a ui-sref="userShow({id:$ctrl.garden.user_id})">{{ $ctrl.garden.user.name }} </a></h4>
</div>
<!-- IF USER HAS A GARDEN OR NOT -->
<div class="button-area">
	<button ng-hide="$ctrl.gardenPlants < 12" class="button garden-index-button" ui-sref="plants"> < Back to Plants</button>
	<button ng-show="$ctrl.gardenPlants < 12" class="button garden-index-button" ui-sref="plants">Add plants now!</button>
	<button class="button garden-index-button" ui-sref="plants">Delete my garden</button>
</div>
</center>


<div class="garden-index">
<!-- USER'S GARDEN -->
<div class="garden-wrap">
	<div class="garden">
		<!-- GARDEN PLANTS -->
		<div ng-repeat="gardenPlant in $ctrl.gardenPlants" ng-class="[{smalls:$ctrl.small, large:$ctrl.large}]">
			<div>
				<img ng-class="[{smalls:$ctrl.small, large:$ctrl.large}]" ng-src="{{gardenPlant.icon}}">
			</div>
		</div>
	</div>
</div>
</div>
<!-- TABLE -->
<center>
<div style="padding-top: 20px">
	<table>
		<tr>
		  <th>Plant Name</th>
		  <th>Water?</th>
  	</tr>
  	<tr ng-repeat="gardenPlant in $ctrl.gardenPlants">
		  <th>{{gardenPlant.name | uppercase}}
				<a style="margin-left:5px" ng-click="$ctrl.deleteGardenPlant(gardenPlant)">
					<img style="width:20px" src="https://image.ibb.co/fdjk5k/deletebtn.png">
				</a>
			</th>
		  <th>
				<!-- todo: INSERT WATERING SCHEDULE & ALARMS -->
			</th>
  	</tr>
	</table>
</div>
</center>
