$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

.smalls {
	width: 200px;
	height: 200px;
	background-color: white;
	display: flex;
}

.large {
	width: 100px;
	height: 100px;
	background-color: white;
	display: flex;
}

.garden-wrap {
	width: 810px;
	height: 610px;
	border: 2px solid black;
	display: flex;
	flex-wrap: wrap;
}

.garden { 

	width: 800px;
	height: 600px;
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.garden-index-top-content {
	width: 800px;
	margin-top: 20px;
}

.garden-index {
	margin-left: 22%;
}

.button:hover {
	background-color:#AAAD2A;
	color: white;
}

table {
	width: 300px;
	border: 1px solid ;
	border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.button-area {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

