angular
  .module('seedAndSee')
  .controller('GardenIndexController', GardenIndexController);

GardenIndexController.$inject = ['$stateParams','$state', 'gardenService'];

function GardenIndexController( $stateParams, $state, gardenService) {
  var vm = this;
  //garden
  vm.garden = {};
  // vm.editGardenName = editGardenName;
  vm.gardenPlants = vm.garden.garden_plants

  var userId = $stateParams.userId
  
  gardenService
  	.getGarden()
  	.then(function(res){
  		// If user does not have a garden redirect to 'gardenNew'
  		if (res.data == null) {
  			$state.go('gardenNew', {userId: userId})
  		} else {
  		// If user does have a garden, display that garden
  		console.log(res);
  		vm.garden = res.data;
  		};
  	});
  
  	// and show all garden_plants user has through a garden.


  	// function editGardenName() {
  	// 	$('.garden-name')
  	// 		.hide()
  	// 		.append("ng-model='$ctrl.garden.name' /><button></button>")
  	// 		.then(function(event) {
  	// 			$
  	// 		})
  	// }



}
