$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

.smalls {
	width: 200px;
	height: 200px;
	background-color: green;
	display: flex;
}

.medium {
	width: 100px;
	height: 100px;
	background-color: green;
	display: flex;
}

.large {
	width: 50px;
	height: 50px;
	background-color: green;
	display: flex;
}

.garden { 
	width: 800px;
	height: 600px;
	background-color: yellow;
	display: flex;
	flex-direction: column;
}

.garden-index-top-content {
	width: 800px;
	margin-top: 20px;
}

.button {
	float: left;
}

.garden-index-page {
	text-align: center;
}
