$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

.post-new-page {
	max-width: 600px;
	margin: 0 auto;
}

.search-button:hover {
	background-color:#AAAD2A;
   color: white;
}

.edit-new-title {
	font-family: 'Galindo', cursive;
	font-size: 35px;
}