<span><p class="title">Plants Index</p></span>
<div ng-hide ="$ctrl.gardenPlants == null" class="my-plants-number"> Number of my plants: {{ $ctrl.gardenPlants }} </div>
<div ng-show ="$ctrl.gardenPlants == null" class="my-plants-number"> You must create a garden</div>
<button ui-sref="gardenNew({userId:$ctrl.currentUser.id})">Create A Garden</button>
<div class="plants-index-page">

	<div class="plants-wrap" ng-repeat="plant in $ctrl.plants"> 
		<div class="each-plant">
		<div class="plant-icon">
			<img src="{{plant.img_url}}" style="width:100%">
		</div><br>
		<p class="title"><a ui-sref="plantShow({id: (plant.name | lowercase) })">{{ plant.name }}</a></p><br>
		<p><a ng-click="$ctrl.saveToGarden(plant)">Save to my garden</a></p>
		</div>
	</div>
</div>

	<div class="search-nutritionix-wrap">
	<input ng-model="$ctrl.searchPlant" placeholder="search for any food nutrition facts!"><button ui-sref='plantShow({id: $ctrl.serachPlant })'> Search!</button>
	</div> 
