<span><p class="title">Plants Index</p></span>
<p>You can have up to {{$ctrl.myPlants}} plants.</p>
<div class="my-plants-number"> Number of my plants: {{ $ctrl.gardenPlants }} </div>
<div class="plants-index-page">

	<div class="plants-wrap" ng-repeat="plant in $ctrl.plants"> 
		<div class="each-plant">
		<div class="plant-icon">
			<a ui-sref="plantShow({id: (plant.name | lowercase) })"><img src="{{plant.img_url}}" style="width:100%"></a>
		</div><br>
		<p class="title"><a ui-sref="plantShow({id: (plant.name | lowercase) })">{{ plant.name }}</a></p><br>
		<p><a ng-click="$ctrl.saveToGarden(plant)">Save to my garden</a></p>
		</div>
	</div>
</div>

	<div class="search-nutritionix-wrap">
	<input ng-model="$ctrl.searchPlant" placeholder="search for any food nutrition facts!"><button ui-sref='plantShow({id: $ctrl.serachPlant })'> Search!</button>
	</div> 
