<span><p class="title"></p></span>
<div class="notification">
	<div ng-hide ="$ctrl.gardenPlants == null" class="my-plants-number"> Number of my plants: {{ $ctrl.gardenPlants }} </div>
	<div class="notice secondary-font" ng-show ="$ctrl.gardenPlants == null" class="my-plants-number"><span class="primary-font">You must <span style="color:#E06029">create</span> a <span style="color:#AAAD2A">garden</span> to add plants!     </span></div>
	<button ng-show ="$ctrl.gardenPlants == null" class="button garden-button" ui-sref="gardenNew({userId:$ctrl.currentUser.id})">Create A Garden</button></div>
</div>

<!-- SEAPARATION -->
<div class="text-align-center"><div class="separation-hr"></div></div>

<div class="plants-index-page">

	<div class="plants-wrap" ng-repeat="plant in $ctrl.plants"> 
		<div class="each-plant">
		<div class="plant-icon">
			<a ui-sref="plantShow({id: (plant.name | lowercase) })">
			<div class="plant-image-box"><img src="{{plant.img_url}}" style="width:100%"></a></div>
		</div><br>
		<p class="title garden-name"><a ui-sref="plantShow({id: (plant.name | lowercase) })">{{ plant.name }}</a></p>
		<p ng-hide="$ctrl.limit <= $ctrl.gardenPlants"><a class="save-to-my-garden" ng-click="$ctrl.saveToGarden(plant)">seed it!</a></p><p style="color:red" ng-show="$ctrl.limit <= $ctrl.gardenPlants">Garden Is Full</p>
		
		</div>
	</div>
</div>

<div class="search-nutritionix-wrap">
	<p class="primary-font"> Learn more about other plants & food </p>
	<input class="plant-index-search search-input" ng-model="$ctrl.searchPlant" placeholder="search for any food nutrition facts!">
	<button class="button garden-button nutrition-button" ui-sref='plantShow({id: $ctrl.searchPlant })'>Search!</button>
</div> 	
