$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

p.title {
	text-align: center;
}

.plant-name {
	color: black;
}

.plant-name:hover {
	color: #E06029;
}

.plants-index-page {
	margin-top: 2%;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.plants-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.search-nutritionix-wrap {
	margin: 10px;
	width: 100%;
	display:flex;
	width: 350;
	justify-content: center;
	align-items: center;
}

.plant-image-box {
	border-radius: 50%;
}

.plant-image-box:hover {
	background-color: $color-skin;
}

.plant-index-search {
	font-family: 'Muli', sans-serif;
	display: flex;
	margin-right: -5px;
}

.save-to-my-garden {
	font-family: 'Muli', sans-serif;
}

.nutrition-button {
	padding-left: 20px;
	padding-right: 20px;
}
.primary-font {
	font-family: 'Galindo', cursive;
	font-size: 20px;
}

.each-plant {
	margin: 5px;
    width: 150px;
    height: 200px;
    padding: 2px; 
    text-align: center;

}
.plant-icon {
	margin-left: 20px;
	display: flex;
	width: 100px;
	height: 100px;
	background-color: none;
}

.notification {
	display: flex;
	justify-content: center;
	align-items: center;
}

.notice {
	display: flex;
}

.garden-button {
	margin-left: 15px;
	height: 35px;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	border-color: #AAAD2A;
}

.garden-button:hover {
	background-color:#AAAD2A;
	color: white;
}

.secondary-font {
	font-family: 'Muli', sans-serif;
	font: 20px;
}