$color-lightgreen: #AAAD2A;
$color-green: #47440F;
$color-darkbrown: #0000FF;
$color-skin: #F2DCCB;
$color-softorange: #FCAC8A;
$color-orange: #E06029;
$color-black: #292108;

body {
  h1 {
    font-family: Georgia, serif;
    color: #ddd;
  }

  p {
    font-family: Arial, serif;
  }
}

.img-circle {
	width: 200px;
	height: 200px;
}

.circles {
	padding: 30px;
}